.a{
  border: solid 3px black;
}
/* .col{
  background-color: blueviolet;
}
.bord{
  border: dotted 5 px black;

}
.g{
  padding:5px;
  margin: 15px;
} */
thead{
  color: #337AB7;
  background-color: lightgray;
}
