<header>

  <nav class="navbar">
    <div class="nav-logo">
        <img src="assets/logo.jpg" alt="logo" />
    </div>
    <ul class="nav-list" id="nav-ul">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Add Speaker</a></li>
        <li class="nav-item"><a href="#">Speaker Details</a></li>
        <li class="nav-item"><a href="#">Footer</a></li>
    </ul>
    <div class="menu" id="toggle-button">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</nav>
</header>
